.color{
color: rgb(0, 255, 42);
}
.ajustarimagen{
    width: 25%;
}
.ajustarimagen2{
    width: 20%;
}

    
  
  .estilos-modulo{
background-color: greenyellow;
border-radius: 30px;
margin-top: 1rem;
padding: 1rem 1rem;
  }
  .estilo-respuesta{
    background-color: rgb(53, 53, 53);
    padding: 1rem 1rem;
    color: aliceblue;
    border-radius: 30px;
    border: 1px solid #eeeeee;
  }
  .verde{
color: rgb(69, 113, 2);
  }
  /* Estilo para pantallas pequeñas */
  @media (max-width: 767px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
    iframe{
      width: 100%;
      height: auto;
      margin: 0;
  }
    .ajustarimagen{
        width: 90%;
    }
    .ajustarimagen2{
        width: 60%;
    }
}
  @media (min-width: 767px) {
   
    iframe{
      width: 60%;
      height: auto;
      margin: 0;
  }
}
